<div class="p-4 pt-5 d-flex flex-column h-100">
    <h5>
        <a href="{% url 'index' %}" target="_blank" class="text-decoration-none d-flex align-items-center gap-2 mb-3">
            <div class="logo-box">
                <i class="fas fa-play text-white" style="font-size: 10px;"></i>
            </div>
            <span class="logo-text"><span class="logo-text-accent" style="color: white;">24x7 Stream</span></span>
        </a>
    </h5>

    <ul class="list-unstyled components mb-4 mt-4">
        <li class="mb-3">
            <a href="{% url 'home' %}" class="text-decoration-none d-flex align-items-center">
                <i class="bi bi-house-door me-2"></i> Home
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="mb-3">
            <a href="{% url 'update_user' %}" class="text-decoration-none d-flex align-items-center">
                <i class="bi bi-person me-2"></i> Profile
            </a>
        </li>
        {% endif %}
        <li class="mb-3">
            <a href="{% url 'cart_summary' %}" class="text-decoration-none d-flex align-items-center">
                <i class="bi bi-cart3 me-2"></i> Cart
                <span class="badge bg-light text-dark ms-auto rounded-pill" id="cart_quantity">
                    {{ cart|length }}
                </span>
            </a>
        </li>

        <li class="mt-4 mb-2">
            <h6 class="text-muted text-uppercase small font-weight-bold">Categories</h6>
        </li>
        <li class="mb-2">
            <a href="{% url 'category_summary' %}" class="text-decoration-none small">All Products</a>
        </li>
        <hr />

        {% for category in categories %}
        <li class="mb-2">
            <a href="{% url 'category' category.slug %}" class="text-decoration-none small">
                {{ category.name }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <div class="footer mt-auto pt-4 border-top">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-danger w-100 mb-2">
            Logout
        </a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-success w-100 mb-2">
            Login
        </a>
        <a href="{% url 'register' %}" class="btn btn-primary w-100 mb-2">
            Register
        </a>
        {% endif %}
    </div>
</div>